__pycache__/
*.py[cod]
*.egg-info/
.Python
build/
dist/
htmlcov/
pip-wheel-metadata/
*.egg
*.cover
*.py,cover
.coverage
.coverage.*
.mypy_cache/
.pytest_cache/
.tox/
.nox/
venv/
.venv/
db.sqlite3
media/
staticfiles/
.ruff_cache/
.env
